.card > *{
    cursor: pointer;
}

@media only screen and (max-width:800px){
    .card-body{
        padding-left: 0;
        padding-right: 0;
    }

    .col{
        padding-left: 0;
        padding-right: 0;
    }

    .card-title{
        font-size: 0.8em;
    }

    h1{
        font-size: 1.5em;
    }

    h2{
        font-size: 1.2em;
    }

    h3{
        font-size: 1em;
    }
}
